
 <div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
        <h2>Manage <b>Hotels</b></h2>
      </div>
      <div class="col-sm-6">
        <a style="border:1px solid white; background-color: #000;"*ngIf="isAdminUser()" href="#" routerLink="/hotel/create/" class="btn btn-dark" ><span>Add New Hotel</span></a>
      </div>
            </div>
        </div>
        <table class="table table-striped table-hover mt-5 table-primary">
            <tbody>
                  <tr *ngFor="let hotel of hotels">
                    <div class="row">
                      <div class="col-sm-6">
                    <div class="card" style="width: 18rem; background-color: #000;">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-sm-6">
                        <h5 class="card-title " style="color: white;">{{ hotel.name }}</h5>
                        </div>
                        <div class="col-sm-6">
                        <h6 class="card-subtitle mb-2 " style="color: white;">{{ hotel.price }}</h6>
                      </div>
                      <div class="col-sm-6">
                        <h6 class="card-subtitle mb-2 " style="color: white;">{{ hotel.phoneNo }}</h6>
                      </div>

                        </div>
                        <p class="card-text" style="color:rgb(214, 207, 207)">{{ hotel.description }}</p>
                      </div>
                  </div>
                </div>
                  <div class="col-sm-6">
                    <div class="row">
                      <div class="col-sm-2">
                      <a *ngIf="isAdminUser()" href="#" routerLink="/hotel/edit/{{hotel.id}}" class="edit"><span>Edit</span></a><br>
                    </div>
                    <div class="col-sm-2">
                      <a href="#" routerLink="/hotel/details/{{hotel.id}}" class="details"><span>Details</span></a><br>
                    </div>
                    <div class="col-sm-2">
                      <a href="#" routerLink="/hotel/booking/{{hotel.id}}" class="details"><span>Book</span></a><br>
                    </div>
                    <div class="col-sm-2">
                      <a href="#" *ngIf="isAdminUser()" (click)="deleteHotel(hotel.id)" class="details">Delete</a>
                    </div>
                    </div>
                  </div>
                </div>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
  
  