@import '~ngx-toastr/toastr';


.nav-logo-custom {
  display: flex;
  align-items: center;

  transform: translateY(50%);
}

.navbar-expand-lg .navbar-collapse {
  display: flex!important;
  justify-content: space-around;
  flex-basis: auto;
}

h3{
  color:white;
}

.custom-button{
  border-radius: 20px;
  border: 2px solid white;
  background-color: black;
  color: white !important;
  
  text-align: center;
  width:120px;
}

.custom-button:hover{
  border:2px solid powderblue ;
  background-color: powderblue;
}
 