<div class="container">


    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #000;">
                <h4 class="modal-title" style="margin-left: 20px;color: #fff;">Hotel Details</h4>
                <hr>
            <div class="container">
            <!-- <div>
                <strong>ID:</strong>
                <p>{{ hotel.id }}</p>
            </div> -->

            <div>
                <strong style="color: #fff;">Name:</strong>
                <p>{{ hotel.name }}</p>
            </div>

            <div>
                <strong style="color: #fff;">Price:</strong>
                <p>{{ hotel.price }}</p>
            </div>

            <div>
                <strong style="color: #fff;">Description:</strong>
                <p>{{ hotel.description }}</p>
            </div>

            <div>
                <strong style="color: #fff;">City:</strong>
                <p>{{ hotel.city }}</p>
            </div>

            <div>
                <strong style="color: #fff;">Phone No:</strong>
                <p>{{ hotel.phoneNo }}</p>
            </div>

            <div class="modal-footer">
                <a href="#" routerLink="/hotel/index" class="btn btn-primary">Back</a>
            </div>
            </div>
        </div>
    </div>
</div>
