<div class="container">

    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #000;">
            <div class="modal-header">
                <h4 class="modal-title">Hotel Details</h4>
            </div>
            <div class="container">
            <div>
                <strong style="color: #fff;">ID:</strong>
                <p>{{ booking.id }}</p>
            </div>

            <div>
                <strong style="color: #fff;">HotelId:</strong>
                <p>{{ booking.hotelId }}</p>
            </div>

            <div>
                <strong style="color: #fff;">UserId:</strong>
                <p>{{ booking.userId }}</p>
            </div>

            <div>
                <strong style="color: #fff;">NoOfRooms:</strong>
                <p>{{ booking.noOfRooms }}</p>
            </div>

            <div>
                <strong style="color: #fff;">Amount:</strong>
                <p>{{ booking.amount }}</p>
            </div>

            <div class="modal-footer">
                <a href="#" routerLink="/booking/index" class="btn btn-primary">Back</a>
            </div>
            </div>
        </div>
    </div>
</div>
